extends base

block content
  if (characterSavestate.length > 0)
    section.margin__borders.character__page
      table.savestate__table
        thead
          tr.savestate__row
            th(scope="col") Character
            th(scope="col") Title
            th(scope="col") Stage
            th(scope="col") File
            th(scope="col") Uploaded By
            //- th(scope="col") Rating
        tbody
          each savestate in characterSavestate
            tr.savestate_row          
                td.savestate__item #{ savestate.character }
                td.savestate__item #{ savestate.title }
                td.savestate__item #{ savestate.stage }
                td.savestate__item
                  a(href=`/gci/${savestate.file}` download) Download
                td.savestate__item #{savestate.user.username}
                //- td.savestate__item #{savestate.ratingsAverage}
      div.page__btns
        a.page__btn.page__btn__prev previous page
        a.page__btn.page__btn__next next page
    div.character__token(data-token=`${characterSavestate[0].character}`)
    div.savestate__amount__token(data-token=`${savestateAmount}`)
  if (characterSavestate.length === 0)
    section.margin__borders.character__page
      h1.home__title No Savestates for this character yet :(