extends base

block content
  if (characterSavestate.length > 0)
    section.margin__borders.character__page
      form(method="GET", action=`/character/${character}/1`)
        .filter__group
          label(for="characterAgainst") Character Vs:
          select(name="characterAgainst")
            option(value="") All Characters
            if allCharacters
              each vs in allCharacters
                option(value=vs selected=(characterAgainst === vs) ? 'selected' : false)= vs

          label(for="uploadedBy") Uploaded By:
          select(name="uploadedBy")
            option(value="") All Users
            if allUploaders
              each u in allUploaders
                option(value=u selected=(uploadedBy === u) ? 'selected' : false)= u
          button(type="submit").btn.btn__fg Apply Filters
      dialog.report__dialog
        svg.close__icon
          use(xlink:href=`/img/icons.svg#icon-x`)
        h1.report__form__title Report a savestate
        form.report__form(method='dialog')
          div
            label Vulgar/Offensive Language &nbsp
              input(type="radio" name="report" value="vulgar" checked)
          div
            label Duplicate Savestate &nbsp
              input(type="radio" name="report" value="duplicate")
          div
            label File Doesn't Work &nbsp
              input(type="radio" name="report" value="doesn't__work")
          div
            label(for="wrong__characters") Wrong Character(s) &nbsp
              input(type="radio" name="report" value="wrong__characters")
          div
            label Other &nbsp
              input(type="radio" name="report" value="other")
          button(type="submit").dialog__submit.btn.btn__yellow Submit &nbsp

      .tableWrap
        table.savestate__table
          thead
            tr.savestate__row
              th(scope="col") Character As
              th(scope="col") Character Vs
              th(scope="col") Title
              th(scope="col") Description
              th(scope="col") File
              th(scope="col") Uploaded By
        

          tbody.savestate__table__data
            each savestate in characterSavestate
              tr.savestate_row
                td.savestate__item #{ savestate.character[0].toUpperCase() + savestate.character.slice(1).toLowerCase().replaceAll('-', ' ').replaceAll('_', '/') }
                td.savestate__item #{ savestate.characterAgainst[0].toUpperCase() + savestate.characterAgainst.slice(1).toLowerCase().replaceAll('-', ' ').replaceAll('_', '/') }
                td.savestate__item #{ savestate.title.replaceAll(".gci", "") }
                td.savestate__item #{savestate.description}
                td.savestate__item
                  a(href=`https://savemeleegci.s3.us-east-2.amazonaws.com/${savestate.file.replaceAll(" ", "+")}`, download) Download
                if (savestate.user)
                  td.savestate__item.uploaded__by.icon__group
                    span.username #{ savestate.user.username }
                    span
                      a.report__btn(data-token=`${savestate._id}`)
                        svg.icon
                          use(xlink:href=`/img/icons.svg#icon-alert-triangle`)
                      a.share__btn(data-token=`${savestate._id}`)
                        svg.icon
                          use(xlink:href="/img/icons.svg#icon-share")
                if (!savestate.user)
                  td.savestate__item.icon__group --ACCOUNT DELETED--
      //- .page__btns
      //-   a.page__btn.page__btn__prev(
      //-   href=`/character/${character}/${prevPage}?characterAgainst=${characterAgainst}&uploadedBy=${uploadedBy}`
      //-   ) previous page

      //-   a.page__btn.page__btn__next(
      //-   href=`/character/${character}/${nextPage}?characterAgainst=${characterAgainst}&uploadedBy=${uploadedBy}`
      //-   ) next page
      //-   p.page__counter --PAGENUMBERS--
    .character__token(data-token=`${characterSavestate[0].character}`)
    .savestate__amount__token(data-token=`${savestateAmount}`)
  if (characterSavestate.length === 0 && characterAgainst !== null && uploaded__by !== null)
    h1 test  
  else if (characterSavestate.length === 0)
      include noSavestates   