extends base

block content
  if (userSavestates.length === 0)
    section.margin__borders.character__page
      h1.home__title No Savestates for this user yet
  if (userSavestates.length > 0)
    section.margin__borders.savestate__by__user__page
      dialog.update__dialog
        svg.close__icon
          use(xlink:href="/img/icons.svg#icon-x")
        form.update__form(method="dialog")
          .form__group
            label.form__label Character As
            select#characters.select__box(
              name="characters",
              autocomplete="off"
            )
              each character in charactersAlphabetized  
                option(value=`${character}`) #{ character[0].toUpperCase() + character.slice(1).toLowerCase().replaceAll('-', ' ').replaceAll('_', '/') }
          .form__group
            label.form__label Character Against
            select#character__against.select__box(
              name="character__against",
              autocomplete="off"
            )
              each character in charactersAlphabetized  
                option(value=`${character}`) #{ character[0].toUpperCase() + character.slice(1).toLowerCase().replaceAll('-', ' ').replaceAll('_', '/') }
          .form__group
            label.form__label(for="Title") Title
            input#savestate__title(
              name="title",
              maxlength="30",
              autocomplete="off"
            )
            p#characters__remaining
          .form__group
            label.form__label(for="Title") Description (optional)
            textarea#savestate__description(
              name="description",
              maxlength="60",
              autocomplete="off"
            )
            p#desc__characters__remaining
          .form__group
            button.dialog__submit.btn.btn__yellow.unactive__btn(type="submit") Submit &nbsp
      table.savestate__table
        thead
          tr.savestate__row
            th(scope="col") Character As
            th(scope="col") Character Against
            th(scope="col") Title
            th(scope="col") Description
            th(scope="col") File
            th(scope="col") Edit

        tbody
          each savestate in userSavestates
            tr.savestate_row(data-token=`${savestate._id}`)
              td.savestate__item.character__as #{ savestate.character[0].toUpperCase() + savestate.character.slice(1).toLowerCase().replaceAll('-', ' ').replaceAll('_', '/') }
              td.savestate__item.character__against #{ savestate.characterAgainst[0].toUpperCase() + savestate.characterAgainst.slice(1).toLowerCase().replaceAll('-', ' ').replaceAll('_', '/') }
              td.savestate__item.savestate__title #{ savestate.title }
              td.savestate__item.savestate__description #{ savestate.description }
              td.savestate__item
                a(href=`/gci/${savestate.file}`, download) Download
              td.savestate__item.icon__group
                a.edit__btn(data-token=`${savestate._id}`)
                  svg.icon
                    use(xlink:href="/img/icons.svg#icon-edit")
                a.share__btn(data-token=`${savestate._id}`)
                  svg.icon
                    use(xlink:href="/img/icons.svg#icon-share") 
                a.delete__btn(data-token=`${savestate._id}`)
                  svg.icon
                    use(xlink:href="/img/icons.svg#icon-delete")
    .user__id(data-token=`${user.id}`)
