extends base

block content
  if (userSavestates.length === 0)
      section.margin__borders.character__page
        h1.home__title No Savestates for this character yet :(
  if (userSavestates.length > 0)
    section.margin__borders.savestate__by__user__page
      table.savestate__table
        thead
          tr.savestate__row
            th(scope="col") Character As
            th(scope="col") Character Against
            th(scope="col") Title
            th(scope="col") File

        tbody
          each savestate in userSavestates
            tr.savestate_row
              td.savestate__item #{ savestate.character[0].toUpperCase() + savestate.character.slice(1).toLowerCase().replaceAll('-', ' ').replaceAll('_', '/') }
              td.savestate__item #{ savestate.characterAgainst[0].toUpperCase() + savestate.characterAgainst.slice(1).toLowerCase().replaceAll('-', ' ').replaceAll('_', '/') }
              td.savestate__item #{ savestate.title }
              td.savestate__item.icon__group
                a(href=`/gci/${savestate.file}`, download) Download
                span
                  a.delete__btn(data-token=`${savestate._id}`)
                    svg.icon
                      use(xlink:href="/img/icons.svg#icon-delete")
                  a.share__btn(data-token=`${savestate._id}`)
                    svg.icon
                      use(xlink:href="/img/icons.svg#icon-share")
    .user__id(data-token=`${user.id}`)