extends base

block content
  section#login__form.margin__borders
    .form__section
      h2.heading__secondary Log in to your account
      form.form
        .form__group
          label.form__label(for="email") Email address
          input#email.form__input(
            type="email",
            placeholder="you@example.com",
            required,
            autocomplete="off"
          )
        .form__group
          label.form__label(for="password") Password
          input#password.form__input(
            type="password",
            placeholder="••••••••",
            required,
            minlength="8",
            autocomplete="new-password"
          )
        .form__group
          span.login__btn__group
            button.btn.btn__yellow(type="submit") Log in
          //-  a.btn.btn__red(href= "/forgotPassword") Forgot Password? 
