extends base

block content
  section.margin__borders#signup__form
    div.form__section
      h2.heading__secondary Sign up for an account
      form.form
        div.form__group
          label.form__label(for='email') Email address
          input#email.form__input(
            type='email',
            placeholder='you@example.com',
            required,
            autocomplete='off'
          )
        div.form__group
          label.form__label(for='username') Username
          input#email.form__input(
            type='text',
            placeholder='Mango1234',
            required,
            autocomplete='off'
          )
        div.form__group
          label.form__label(for='password') Password
          input#password.form__input(
            type='password',
            placeholder='••••••••',
            required,
            minlength='8',
            autocomplete='new-password'
          )
        div.form__group
          label.form__label(for='password-confirm') Confirm Password
          input#password__confirm.form__input(
            type='password',
            placeholder='••••••••',
            required,
            minlength='8',
            autocomplete='new-password'
          )
          
        div.form__group
          button.btn.login__btn(type='submit') Signup
  
