extends base

block content
  section.margin__borders.upload__savestate__page
    div.form__section.hidden__fade__slide
      h2.heading__secondary Upload Savestate(s)
      form.form(enctype="multipart/form-data")
        .form__group
          label.form__label Character As
          select#characters.select__box(name="characters", autocomplete="off")
            each character in charactersAlphabetized  
              option(value=`${character}`) #{ character[0].toUpperCase() + character.slice(1).toLowerCase().replaceAll('-', ' ').replaceAll('_', '/') }
        .form__group
          label.form__label Character Against
          select#character__against.select__box(
            name="character__against",
            autocomplete="off"
          )
            each character in charactersAlphabetized  
              option(value=`${character}`) #{ character[0].toUpperCase() + character.slice(1).toLowerCase().replaceAll('-', ' ').replaceAll('_', '/') }
        //- div.form__group
        //-   label.form__label(for='stage') Stage
        //-   select#stages.select__box(name="characters")
        //-     each stage in stages
        //-       option(value=`${stage}`) #{stage[0].toUpperCase() + stage.slice(1).toLowerCase().replaceAll('-', ' ')}
        .form__group
          label.form__label(for="Title") Title
          input#savestate__title(
            name="title",
            maxlength="30",
            autocomplete="off"
          ) 
          p#characters__remaining test
        .form__group
          label.form__label(for="password-confirm") Select .gci File
          input#file.form__input(
            type="file",
            required,
            multiple="multiple",
            autocomplete="off"
          ) 
          p.remove__files.hidden X

        .form__group
          button.btn.btn__yellow(type="submit") Upload
  .user__id(data-token=`${user.id}`)
