extends base

block content
  section.margin__borders.upload__savestate__page
    div.form__section
      h2.heading__secondary Upload Savestate
      form.form(enctype="multipart/form-data")
        div.form__group
          label.form__label(for='email') Character
          select#characters.select__box(name="characters")
            each character in charactersAlphabetized  
              option(value=`${character}`) #{character[0].toUpperCase() + character.slice(1).toLowerCase().replaceAll('-', ' ').replaceAll('_', '/')}
        div.form__group
          label.form__label(for='email') Character Against
          select#character__against.select__box(name="character__against")
            each character in charactersAlphabetized  
              option(value=`${character}`) #{character[0].toUpperCase() + character.slice(1).toLowerCase().replaceAll('-', ' ').replaceAll('_', '/')}
        //- div.form__group
        //-   label.form__label(for='stage') Stage
        //-   select#stages.select__box(name="characters")
        //-     each stage in stages
        //-       option(value=`${stage}`) #{stage[0].toUpperCase() + stage.slice(1).toLowerCase().replaceAll('-', ' ')}
        div.form__group
          label.form__label(for='Title') Title
          input#savestate__title(name="title" maxlength="30" autocomplete="off") 
          p#characters__remaining test
        div.form__group
          label.form__label(for='password-confirm') Select .gci File
          input#file.form__input(
            type='file',
            required,
          )             
        div.form__group
          button.btn.btn__yellow(type='submit') Upload
  div.user__id(data-token=`${user.id}`)